*{
    box-sizing: border-box;
}

body{
    background-color: #EEF9BF;
    text-align: center;
}

.container{
    justify-content:center;
    width: 950px;
    margin: 0 auto;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    padding-bottom:34px;
}

body > h1{
    color:#75B79E;
    font-size: 56px;
    font-family: 'Roboto';
    font-weight: 700;
    margin: 40px 0;
}

.carta{
    width:117px;
    height:146px;
    position:relative;
    margin-right: 34px;
    margin-top:34px;
}

.face{
    width: 100%;
    height: 100%;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: all .5s;
    background-color:#A7E9AF;
    border-radius:10px;
    transform-style: preserve-3d;
}


  .rotacionafront{
    transform: rotateY(-180deg);
  }

  .back-face{
    transform: rotateY(180deg);
  }

  .rotacionavoltaback{
    transform: rotateY(0deg);
  }




.carta  img {
    width:100px;
    height:100px;
}